
$font-family: Arial, sans-serif
$font-family-heading: "Arial Black", sans-serif

$font-size: 16px

// Styling
html, body
  font-size: $font-size
  font-family: $font-family
  height: 100%

a
  text-decoration: none

.container
  min-height: 100%
  display: inline-block
  width: 100%

.container, .pusher, .content, .content-inner
  height: 100%
  position: relative
  display: inline-block
  width: 100%

.content
  -webkit-overflow-scrolling: touch
