.computer-bg
  +background-size(cover)
  +box-shadow(0px -3px 5px rgba(0, 0, 0, 0.75), 0px 1px 3px 0px rgba(0, 0, 0, 0.75))
  background: url('../img/bg-transformer.jpg') no-repeat center center fixed
  margin: auto
  width: 100%
  height: 100%
  display: none
  z-index: 900

.star
  position: absolute
  bottom: -2%
  left: 5%
  // animation: move-star 5s ease

$numbers: one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen
$percentage: 5%

=star-magic
  @each $number in $numbers
    .star-#{$number}
      @extend .star
      left: $percentage
      $percentage: $percentage +5%
#s4
  +star-magic
  position: relative
  overflow: hidden


.computer
  +box-shadow(0px -2px 3px rgba(0, 0, 0, 0.15),0px 2px 3px 0px rgba(0, 0, 0, 0.15))
  padding: 2rem 0
  position: relative
  float: left
  width: 100%
  z-index: 9999

  .wrapper


  .first
    background: #c4e1bd url('../img/glow.png') center center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 300

  .second
    background: #e1e1e1 url('../img/glow.png') center center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 200

  .computer-title
    width: 60%

  .c64-image
    width: 40%

  // .term-wrapper
  //   +opacity(0)


  +at-breakpoint($tablet)
    +pie-clearfix
    height: 30rem

    &.magic

      .first
        -webkit-animation: bounceOutDown 5s ease
        -moz-animation: bounceOutDown 5s ease
        -o-animation: bounceOutDown 5s ease
        animation: bounceOutDown 5s ease
        -webkit-animation-fill-mode: forwards
        -moz-animation-fill-mode: forwards
        -o-animation-fill-mode: forwards
        -ms-animation-fill-mode: forwards
        animation-fill-mode: forwards

      .term-wrapper
        // +opacity(1)

    .computer-title
      +transform(translate(-50%, -50%))
      position: absolute
      top: 10%
      left: 50%

    .c64-image
      +transform(translate(-50%, -50%))
      +transition(opacity 2s ease-in-out)

      width: 40%
      position: absolute
      left: 50%
      top: 60%

    .term-wrapper
      +transition(opacity 2s ease-in-out)
      +transform(translate(-50%, -50%))
      background-color: #9C9CFF
      position: absolute
      left: 50%
      top: 50%
      padding: 2rem

    .term
      text-align: left
      font-family: c64_userregular

    .terminal
      background-color: #3939DE
      color: #9C9CFF
      font-size: 1rem
      font-weight: bold
      padding: 0

    .terminal .cmd span.inverted
      background-color: #9C9CFF
      color: #3939DE

    .terminal-output
      padding-top: 1rem

    .terminal-output > div
      padding-top: 0

    .terminal-output > div
      line-height: 1rem

    .terminal-output > div > div
      // margin-bottom: -3px
      line-height: 1rem
      height: 1rem

    .cmd
      height: 1em

    .cmd span
      margin-top: -3px


  +at-breakpoint($desktop)


