.page
  @include container

  +at-breakpoint($tablet)
    // Establish our new 8-column container.
    +container

  +at-breakpoint($desktop)
    // Establish our new 12-column container.
    +container

  

.pusher
  position: relative
  left: 0
  z-index: 99
  height: 100%
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0,0,0,0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.title
  +border-radius(50%)
  background-color: #000000
  float: left
  width: px-to-rem(200)
  height: px-to-rem(200)
  color: #ffffff
  text-align: center
  display: table

  span 
    display: table-cell
    vertical-align: middle
  
  h1
    font-size: px-to-rem(20)
    margin: 0
    padding: 0

  p
    margin: .5rem 0

  a
    color: #ffffff
    text-transform: uppercase


