.page
  height: 100%
  width: 100%
  // overflow: auto
  -webkit-overflow-scrolling: touch

.wrapper
  +container
  height: 100%
  +at-breakpoint($tablet)
    +container

  +at-breakpoint($desktop)
    +container

  +at-breakpoint($large)
    +container

.centered
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

.pusher
  position: relative
  left: 0
  z-index: 99
  height: 100%
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0,0,0,0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s


.move
  display: table
  width: 100%
  height: 100%

// .magic
//   display: table-cell
//   text-align: center
//   vertical-align: middle

.large-text
  font-size: 4.500rem
  font-family: $font-family-text-heading
  line-height: 5rem

.img-responsive
  max-width: 100%
  height: auto

article
  .wrapper

    text-align: center
    height: 100%
    position: relative

    +at-breakpoint($tablet)
      // +container

    +at-breakpoint($desktop)
      // +container

  h1
    +transform(rotate(-7.5deg))
    font-size: 140px
    font-family: 'din-blackitalic'
    line-height: 9.5rem
    background-color: $heading-color-firstpage
    margin: 0
    padding-bottom: 1rem
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    color: rgba(74,144,162,0.3)
    text-shadow: rgba(255, 255, 255, 0.2) 0px 5px 6px
    //text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,1) 0 1px, rgba(0,0,0,0.3) -1px -2px


.yoda-bg
  background: url('../img/bg-deathstar.jpg')
  height: 600px
  position: relative


.skills-bg
  background: $skills-color-background url('../img/glow.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


.social-bg
  background: $social-color-background url('../img/glow.png') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

h2
  @extend .large-text
  color: #000
  font-size: 4.5vw
  margin-bottom: 0
  margin-top: .5rem

section
  +translate3d(0, 0, 0)
  color: #444
  height: 500px
  float: left
  width: 100%

section h1
  font-size: 2em
  font-weight: bold
  position: relative
  text-align: center
  top: 225px



section#s1
  +background-size(cover)
  +transition(transform 1s ease-in-out)
  background-image: url('../img/bg-start.jpg')
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9999

  &.magic
    +transform(translateY(-100%))

section#s2
  +background-size(cover)
  background-image: url('../img/bg-computer-big.jpg')


section#s3
  +background-size(cover)
  background-image: url('../img/bg-thedig.jpg')

section#s4
  +background-size(cover)
  background-image: url('../img/bg-c64.jpg')

section#s5
  +background-size(cover)
  background-image: url('../img/bg-deathstar.jpg')

section#s6
  +background-size(cover)
  background-image: url('../img/q3dm6.jpg')


