.page
  height: 100%
  // @include container

  // +at-breakpoint($tablet)
  //   // Establish our new 8-column container.
  //   +container

  // +at-breakpoint($desktop)
  //   // Establish our new 12-column container.
  //   +container



.pusher
  position: relative
  left: 0
  z-index: 99
  height: 100%
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0,0,0,0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.title
  +border-radius(50%)

  margin-top: 100px
  background-color: #000000
  width: px-to-rem(200)
  height: px-to-rem(200)
  color: #ffffff
  text-align: center
  display: table
  margin: 0 auto
  span
    display: table-cell
    vertical-align: middle

  h2
    font-size: px-to-rem(20)
    margin: 0
    padding: 0

  p
    margin: .5rem 0

  a
    color: #ffffff
    text-transform: uppercase

  +at-breakpoint($tablet)
    // Establish our new 8-column container.


  +at-breakpoint($desktop)
    // Establish our new 12-column container.

.move
  display: table
  width: 100%
  height: 100%

.magic
  display: table-cell
  text-align: center
  vertical-align: middle

.large-text
  font-size: 4.500rem
  font-family: $font-family-text-heading
  line-height: 5rem

article
  background-attachment: fixed
  z-index: 99
  width: 100%
  height: 100%
  position: relative
  // +span-columns(12,12)

  .wrapper
    +container
    text-align: center
    height: 100%

    +at-breakpoint($tablet)
      +container

    +at-breakpoint($desktop)
      +container

  h1
    +transform(rotate(-7.5deg))
    font-size: 140px
    font-family: 'din-blackitalic'
    line-height: 9.5rem
    background-color: $heading-color-firstpage
    margin: 0
    padding-bottom: 1rem
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    color: rgba(74,144,162,0.3)
    text-shadow: rgba(255, 255, 255, 0.2) 0px 5px 6px
    //text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(0,0,0,1) 0 1px, rgba(0,0,0,0.3) -1px -2px

  &.start
    background: url('../img/bg-start.jpg') no-repeat
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  &.slide.yoda
    background: url('../img/bg-deathstar.jpg')
    overflow: hidden
    height: 600px
    position: relative

    .wrapper
      // position: relative
    // -webkit-background-size: cover
    // -moz-background-size: cover
    // -o-background-size: cover
    // background-size: cover

    h2
      @extend .large-text
      color: #ffffff
      z-index: 3
      position: absolute
      width: 50%
      margin: auto
      left: 0
      right: 0
      top: 0
      bottom: 0
      display: table
      height: auto


    .star:nth-of-type(1)
      position: absolute
      bottom: 4rem
      left: 2rem

    .star:nth-of-type(2)
      position: absolute
      bottom: 2rem
      left: 4rem

    .star:nth-of-type(3)
      position: absolute
      bottom: 5rem
      left: 4rem

    .star:nth-of-type(4)
      position: absolute
      bottom: 3rem
      right: 4rem

    .star:nth-of-type(5)
      position: absolute
      bottom: 5rem
      right: 9rem

    .star:nth-of-type(6)
      position: absolute
      bottom: 9rem
      right: 5rem

    .star:nth-of-type(7)
      position: absolute
      bottom: 9rem
      left: 5rem


    &.jedi

      section
        &.yoda-wrapper
          opacity: 1
        &.deathstar-wrapper
          opacity: 1
          -webkit-animation: move 3s ease
          -moz-animation: move 3s ease
          -o-animation: move 3s ease
          animation: move 3s ease

        &.x-wing-wrapper
          -webkit-animation: move-xwing 5s ease
          -moz-animation: move-xwing 5s ease
          -o-animation: move-xwing 5s ease
          animation: move-xwing 5s ease

        &.tie-fighter-wrapper
          -webkit-animation: move-xwing 6s ease
          -moz-animation: move-xwing 6s ease
          -o-animation: move-xwing 6s ease
          animation: move-xwing 6s ease

    section

      &.yoda-wrapper
        +transition(opacity 1s ease-in-out)
        width: 39%
        position: absolute
        bottom: 0
        left: 0
        opacity: 0
        z-index: 1

        img
          width: 100%

      &.deathstar-wrapper
        +transition(opacity .5s ease-in-out)
        width: 15%
        position: absolute
        opacity: 0
        right: 2%
        top: 4%
        img
          width: 100%

      &.x-wing-wrapper
        position: absolute
        opacity: 1
        top: -100px
        left: 0


      &.tie-fighter-wrapper
        position: absolute
        opacity: 1
        top: -200px
        left: 0

  &.about
    background: url('../img/bg-computer.jpg')
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    section

    img
      display: block
      margin: 0 auto

    .top
      +span-columns(12,12)

    .left
      text-align: right
      +span-columns(3,12)

      img:first-of-type
        margin-bottom: 5.6rem

    .middle
      +span-columns(6,12)

      img:first-of-type
        +border-radius(50%)
        +box-shadow(0px 1px 9px 2px rgba(0, 0, 0, .6))
        border: .3rem solid #ffffff
        width: 14rem
        margin-top: 3rem

      img:last-of-type
        display: none

    .right
      +span-columns(3 omega,12)
      text-align: left

      img:first-of-type
        margin-bottom: 5.6rem

    .text
      +span-columns(12,12)

      h2
        @extend .large-text
        color: #000
        font-size: 4.5rem
      p
        font-size: 3.000rem

  &.skills
    background: $skills-color-background url('../img/glow.png')
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  &.social

    background: $social-color-background url('../img/glow.png')
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  &.slide
    background-attachment: fixed
    width: 100%
    height: 100%
    position: relative
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3)

