.start
  z-index: 201
  position: absolute
  margin: auto
  height: 90%
  top: 0
  left: 0
  bottom: 0
  right: 0

.start-bg
  background: url('../img/bg-start.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  width: 100%
  height: 100%
  position: fixed
  top: 0
  z-index: 200

  .scrolldown
    background: url('../img/scrolldown.png')
    width: 85px
    height: 82px
    position: absolute
    bottom: 100px
    left: 50%
    margin-left: -27px
    z-index: 300
